# .gitignore
# Python
.token.txt
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
build/
develop-eggs/
dist/
.ipynb_checkpoints/
data/*.bsp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Skyfield data
data/*.bsp
data/*.txt
